!/log/.keep
!/storage/.keep
!/tmp/.keep
.byebug_history
.byebug_history
.dat*
.DS_Store
.env
.env.*
.powenv
.repl_history
.rspec
.ruby-version
.rvmrc
.rvmrc
.vimrc
.yarn-integrity
*.bowerrc
*.bridgesupport
*.gem
*.log
*.orig
*.rbc
*.rbc
/_yardoc/
/.bundle
/.bundle/
/.config
/build-iPhoneOS/
/build-iPhoneSimulator/
/build/
/coverage/
/db/*.sqlite3
/db/*.sqlite3-[0-9]*
/db/*.sqlite3-journal
/doc/
/InstalledFiles
/lib/bundler/man/
/log/*
/pkg/
/rdoc/
/storage/*
/test/tmp/
/test/version_tmp/
/tmp/
/tmp/*
/vendor/assets/bower_components
/vendor/bundle
/vendor/bundle
/yarn-error.log
bower.json
capybara-*.html
config/initializers/secret_token.rb
config/master.key
Gemfile.lock
Manifest
node_modules/
pickle-email-*.html
pkg
public/assets
public/packs
public/packs-test
public/system
public/uploads
rerun.txt
spec/examples.txt
spec/rails_app/db/schema.rb
spec/rails_app/public/extjs
spec/rails_app/tmp/
spec/reports/
spec/tmp
yarn-debug.log*
